<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="EnterpriseSMSImplServiceSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://202.129.232.190:8585/EnterpriseSMSV3/EnterpriseSMSWS.php"
                binding="basicHttpBinding" bindingConfiguration="EnterpriseSMSImplServiceSoapBinding"
                contract="ServiceReference1.EnterpriseSMSWS" name="EnterpriseSMSImplPort" />
        </client>
    </system.serviceModel>
</configuration>